*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    flex:1;
}

.bgindex{
    font-family: Arial;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(space.jpeg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.bgabout{
    font-family: Arial;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);   
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

header{
    background:  rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    padding: 0 5%;
    position:sticky; 
}

nav{
    width: 100% ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;

}

.logo{
    color: rgb(174, 174, 182);
    font-style: italic;
    font-size: 2rem;
}

.links{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    color: aqua;
    transition: 1s;
}

.insect{
    padding: 20vh;
    margin: auto;
    text-align: center;
    max-width: 90%;
}

.insect h1{
    color: white;
    font-size: 7rem;
}

.insect p{
    margin: 3vh auto;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    width: 65%;
}

.button{
    margin: 6vh auto;
    justify-content: center;
    text-align: center;
}

.btn{
    border-radius: 40px;
    padding: 15px;
    border: 1px solid;
    color: white;
    text-decoration: none;
    border-color: aqua;
}
a, .btn{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover{
    background-color: aqua;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.first{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-between;
    margin: 5vh 10vh 0 0;
    padding: 5%;
    background-color: black;
    width: 100%;
    gap: 15%;
}

.solarimg{
    width: 60%;
    border: 10px solid;
    border-radius: 10;
    border-color: rgb(255, 255, 255);
    position: relative;
}
.aboutsolar h1{ 
    color: black;
    text-align: center;
    font-size: 5rem;
    font-weight: 1000;
    margin: 4vh
    
}

.aboutsolar p{
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    text-align: left;
    margin: 4vh 0 0 5vw;
    
}

.why{
    text-align: center;
}

.why h2{
    font-size: 3rem;
    font-weight: 1000;
    margin: 4vh auto;
}

.why p{
    font-size: 2rem;
    text-align: center;
    width: 70%;
    margin-left: 16vw;
    color: black;
}

.footab{
    text-align: center;
    color: white;
    background-color: black;
    padding: 2vh;
    padding-bottom: 2vh;
    margin-top: 8vh;
}

.footin{
    text-align: center;
    color: white;
    background-color: black;
    padding: 2vh;
    padding-bottom: 2vh;
    margin-top: -4.8vh ;
    width: 100%;

}


@media screen and (max-width: 768px){   
    nav{
        flex-direction: column;
        text-align: center;
    }

    .logo{
        font-size: 10vw;
    }

    .links{
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
        font-size: 3.5vw;
        gap: 3rem;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .insect{
        padding: 10vh 0;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .insect h1{
        color: white;
        font-size: 3.5rem;
        width: 100%;
    }

    .insect p{
        margin: 3vh auto;
        color: white;
        font-size: 4vw;
        text-align: center;
        width: 85%;
    }

    .btn{
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
    }

    a, .btn{
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .aboutsolar h1{ 
        color: black;
        text-align: center;
        font-size: 2.6rem;
        margin: 4vh
    }

    .first{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin: 5vh 10vh 0 0;
        padding: 5%;
        background-color: black;
        width: 100%;
        gap: 15%;
    }

    .solarimg{
        width: 55%;
        left: 22%;
        border: 2px solid;
        border-color: white ;
        border-radius: 10px;
    }

    .aboutsolar p{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }

    .why h2{
        font-size: 2rem;
        font-weight: 1000;
        margin: 2vh;
    }

    .why p{
        font-size: 1.2rem;
        text-align: center;
        width: 90%;
        margin: -0.5vh 0 0 5vw;
        color: black;
    }
    .footab{
        text-align: center;
        color: white;
        background-color: black;
        padding: 2vw;
        padding-bottom: 2vh;
        margin-top: 8vh;
        font-size: 2.5vw;
    }

    .footin{
        text-align: center;
        color: white;
        background-color: black;
        padding: 2vw;
        padding-bottom: 2vh;
        width: 100%;
        font-size: 2.5vw;
    }
}